.p_nav {
  padding-top: 10px;
}

.p_main {
  margin-top: 20px;
}

.p_main nav {
  display: none;
}

.loading {
  background: url("loading-giphy.gif") no-repeat center;
  background-size: 150px 150px;
  height: 150px;
  display: none;
}
